
 .bold {
    font-weight: bold;
  }
  .moved {
    transform: translateX(-30%);
  }

  .container1 {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
    position: absolute; 
    left:10px;
  } 

  .line {
    height: 3px;
    width: 30px;
    background-color: blue;
    margin-right:10px;
  }
